.reviews__form {
  margin-top: 20px;
}

.reviews__rating-form {
  display: flex;
  gap: 10px;
  margin: 20px 0;
}

.reviews__textarea {
  min-height: 100px;
  resize: vertical;
}

.reviews__button-wrapper {
  margin-top: 20px;
  margin-bottom: 20px;
}
